@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core styles */

/* Navigation styles */
.navLinks_links {
  @apply flex items-center gap-4;
}

.navLinks_links a {
  @apply text-base font-medium transition-colors duration-300;
}

/* Utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
